Options +FollowSymLinks
RewriteEngine On

#TODO TESTAR
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Este trecho abaixo configura o servidor para aceitar requisicoes
# tipo /exemplo/10 ou /exemplo ou /exemplo?chave=valor, etc...
# Fazer isso para cada arquivo de rota disponível no servidor.

RewriteRule ^service/([0-9a-zSA-Z]+) serviceController.php?codigo=$1 [L,QSA]
RewriteRule ^service serviceController.php [L,QSA]

#yet pending
RewriteRule ^authentication/([0-9]+) authenticationController.php?id=$1 [L,QSA]
RewriteRule ^authentication authenticationController.php [L,QSA]
# 

RewriteRule ^contractor/([0-9]+) contractorController.php?date=$1 [L,QSA]
RewriteRule ^contractor contractorController.php [L,QSA]

RewriteRule ^schedulings overallSchedulingsController.php [L,QSA]

#clientSchedulingsController
RewriteRule ^xxx/([0-9]+) qualquerNome.php?id=$1 [L,QSA]
RewriteRule ^xxx qualquerNome.php [L,QSA]

RewriteRule ^client/([0-9]+) overallClientController.php?cpf=$1 [L,QSA]
RewriteRule ^client overallClientController.php [L,QSA]